@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0 10px;
  text-align: justify;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.container {
  max-width: 1400px;
  margin: 50px auto;
  padding: 0 35px;
}
.header-tittle {
  font-size: 20px;
  width: 29%;
}
.navigation-bar {
  display: flex;
  width: 70%;
  text-align: right;
  margin-left: 40%;
}
.navigation-bar,
li {
  list-style: none;
  padding: 9px;
  font-weight: 550;
  font-size: 13px;
}
.navigation-bar,
a {
  color: black;
  text-decoration: none;
  padding: 3px;
}
.navigation-bar,
a:hover {
  color: blue;
}
.influencer-journey {
  display: flex;
  margin-top: 70px;
  margin-left: 100px;
  justify-content: center;
  height: 400px;
}
.article-tittle {
  font-size: 35px;
  width: 75%;
  font-weight: 900;
}
.blog {
  margin-top: 10px;
  width: 65%;
}
.prebook-option {
  background-color: #e02c6d;
  color: white;
  padding: 7px 20px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 10px;
}
.prebook-option:hover {
  color: rgb(23, 37, 232);
}
.fa-arrow-right {
  color: rgb(248, 248, 248);
  padding-left: 10px;
}
.camera-image {
  width: 70%;
  height: 60%;
  margin-right: 8%;
}
.camera-image img {
  width: 80%;
}
.gears-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.gear {
  background-image: linear-gradient(
    rgba(118, 122, 184, 0.193),
    rgba(189, 134, 131, 0.289)
  );
  margin: 20px 40px;
  padding: 10px;
  height: auto%;
}
.gear img {
  width: 100%;
}
