@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  text-align: justify;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.container {
  max-width: 1400px;
  margin: 50px auto;
  padding: 0 35px;
}
.header-tittle {
  font-size: 20px;
  width: 29%;
}
.navigation-bar {
  display: flex;
  width: 70%;
  text-align: right;
  margin-left: 45%;
}
.navigation-bar,
li {
  list-style: none;
  padding: 9px;
  font-weight: 550;
  font-size: 13px;
}
.navigation-bar,
a {
  color: black;
  text-decoration: none;
  padding: 3px;
}
.navigation-bar,
a:hover {
  color: blue;
}
.influencer-journey {
  display: flex;
  margin-top: 70px;
  margin-left: 100px;
  justify-content: center;
  height: 300px;
}
.article-tittle {
  font-size: 35px;
  width: 50%;
  font-weight: 900;
}
.blog {
  margin-top: 10px;
  width: 65%;
}
.prebook-option {
  background-color: #e02c6d;
  color: white;
  padding: 7px 20px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 30px;
}
.prebook-option:hover {
  color: rgb(23, 37, 232);
}
.fa-arrow-right {
  color: rgb(248, 248, 248);
  padding-left: 10px;
}
.fa-arrow-right:hover {
  color: blue;
}
.camera-image {
  width: 70%;
  height: 60%;
  margin-right: 8%;
}
.camera-image img {
  width: 100%;
}.camera-image img:hover{
  transform: scale(1.6) rotate(360deg);
  transition: transform 2s ease-in-out;
}
.icon {
  padding: 0 100px;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 4%;
}
.icon img {
  padding: 0 15px;
}
.gears-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.gear {
  box-shadow: 10px 10px 20px rgb(177, 131, 131);
  margin: 20px 40px;
  padding: 10px;
  border-radius: 10px;
}
.gear img {
  width: 100%;
}
.rating {
  display: flex;
  align-items: center;
  position: relative;

}.number{
  margin: 0 10px;
  font-size: 12px;
}
}
.far {
  font-size: 12px;
}.fa-star.filled{
  color: #FB8200;
}.info{
  font-size: 12px;
  text-align: left;
}.fa-arrow-right.bottom{
  color:#e02c6d ;
}.details{
  color: #e02c6d;
  margin-left: 80%;
  cursor: pointer;
}.line{
  margin-top: 60px;
}.social-site{
  color: rgb(75, 75, 158);
  font-size: 150%;
}
.login-container{
display: flex;
justify-content: center;
margin-top: 30px;

}.login{
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px rgb(177, 131, 131);
  width: 30%;
  padding: 0 2%;

}.login input{
  font-size: 1.1em;
  margin-top: 14px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 15px;
}.login button{
  background-color: lightsalmon;
  color:rgb(238, 86, 30)
  font-weight: 900;
  padding: 5px;
  cursor: pointer;
  margin:30px 40px 40px ;

}.bar{
  text-decoration: none;
  margin-left: 50%;
  font-size: 13px;
  margin-top: 30px;
  width:50%;
  padding: 0 10%;
  height:6% ;
}


.Ending{
  margin-top: 20px;
  text-align: center;
  background-color: rgb(2, 4, 26);
  font-size: 15px;
  color: beige;
  margin-top: 5%;
  height: 150px;
  padding: 20px 0;
}.social-media-icon{
  color: beige;
}.info{
  margin-top: 10px;
}
/* Responsive Css */
@media (max-width:768px){
  .gears-item{
    grid-template-columns: 1fr;
  }.container{
    grid-template-columns: 1fr;
  }.influencer-journey{
    grid-template-columns: 1fr;
  }.icon{
    grid-template-columns: 1fr;
  }.blog{
    grid-template-columns: 1fr;
  }.login-container{
    grid-template-columns: 1fr;
  }.ending{
    grid-template-columns: 1fr;
  }hr{
    grid-template-columns: 1fr;
  }
}
@media (max-width:992px){
  .gears-item{
    grid-template-columns: 1fr 1fr;
  }.container{
    grid-template-columns: 1fr 1fr;
  }.influencer-journey{
    grid-template-columns: 1fr 1fr;
  }.icon{
    grid-template-columns: 1fr 1fr;
  }.blog{
    grid-template-columns: 1fr 1fr;
  }.login-container{
    grid-template-columns: 1fr 1fr;
  }.ending{
    grid-template-columns: 1fr 1fr;
  }
  }

